# set url for the scoped package
@dewais:registry=https://gitlab.com/api/v4/projects/27834574/packages/npm/
# Add auth token for the Gitlab scoped package
# //gitlab.com/api/v4/projects/27834574/packages/npm/:_authToken=<<<access token>>>
//gitlab.com/api/v4/projects/27834574/packages/npm/:_authToken=g_wLbh9rvJVhq21KnyB8